:root {
  --bluemain: #106eea;
  --black-text-main: #444;
  --red-color-main: #832025;
  --blue-background-color: #0e2c51;
  --red-background-color: #f31e32;
  --color-default: #212529;
  --color-default-rgb: 33, 37, 41;
  --color-background: #ffffff;
  --color-background-rgb: 255, 255, 255;
  --color-primary-rgb: 232, 69, 69;
  --color-secondary: #32353a;
  --color-secondary-rgb: 50, 53, 58;
  --color-box-background: #ffffff;
  --color-box-background-rgb: 255, 255, 255;
  --color-inverse: #ffffff;
}

.App {
  overflow: hidden;
  color: var(--black);
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  border-radius: 5px;
  border: none;
}

.button:hover {
  background-color: #0555a1;
  cursor: pointer;
  color: #fff;
}
